/*20160930 by kevin*/
@charset "utf-8";
/* CSS Document */

/*------------------------------------------CSS Reset 開始-------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dt, dd, li,
fieldset, form, label, legend,
 caption, tbody, tfoot, thead, th,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*font: inherit;*//*修改部分 by kevin 20140822*/
	/*vertical-align: baseline;*//*修改部分 by kevin 20140822*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	/*list-style: none;*//*修改部分 by kevin 20140822 會影響到網邊*/
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	/*border-collapse: collapse;
	border-spacing: 0;*/
}

body{ 
	margin: 0; 
	padding: 0;
	background: #fff;
	color: #333;
	font-family: Arial, Helvetica, sans-serif, "Century Gothic", "Times New Roman", Times, serif, "微軟正黑體", "新細明體";
	/*overflow-x: hidden;*/
	letter-spacing: 1px;
	-webkit-text-size-adjust: none;/*解決iphone橫平轉豎屏時字變大的問題*/
}

/* ~~ 元素/標籤選取器 ~~ */
ul, ol, dl { /* 由於瀏覽器之間的差異，最佳作法是在清單中使用零寬度的欄位間隔及邊界。為了保持一致，您可以在這裡指定所要的量，或在清單包含的清單項目 (LI、DT、DD) 上指定所要的量。請記住，除非您寫入較為特定的選取器，否則在此執行的作業將重疊顯示到 .nav 清單。 */
	padding: 0;
	margin: 0;
}

/*-----↓↓↓↓新增部分 by kevin 20150108 為了網編↓↓↓↓-----*/
ul, ol {
	padding-left:40px;
}
/*-----↑↑↑↑新增部分 by kevin 20150108 為了網編↑↑↑↑-----*/

/*h1, h2, h3, h4, h5, h6,*/ p {	margin: 0; padding: 0;}

/*img{ display:block;}*//*清除IE7下方溢位*/

a img { /* 這個選取器會移除某些瀏覽器在影像由連結所圍繞時，影像周圍所顯示的預設藍色邊框 */
	border: none;}

.clearfloat { /* 這個類別可放置在 <br /> 或空白的 Div 上，當做接在 #container 內最後一個浮動 Div 後方的最後一個元素 (如果從 #container 移除或取出 #footer) */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
a{ 
	/*color:#ccc;*//*修改部分 by kevin 20140814 會影響到網編區 不宜使用*/
	text-decoration: none;
	outline: none;/* for Firefox Google Chrome  *//*讓a點擊時不會出現框線*/
  	behavior:expression(this.onFocus=this.blur());  /* for IE *//*讓a點擊時不會出現框線*/
}
a:hover { 
	/*color:#ccc;*//*修改部分 by kevin 201450108 太醜了所以刪掉*/
	text-decoration:underline;
	/*opacity:0.9;新增部分 by kevin 20150121*//*會影響到輪播 刪除 by kevin 20150324*/
}
	
a:active, a:focus {/* 這個選取器群組可以讓使用鍵盤導覽的使用者，也和使用滑鼠的使用者一樣擁有相同的滑過體驗。 */
	text-decoration: none; }
	
area {
	outline:none;
}
/*------------------------------------------CSS Reset 結束-------------------------------*/

/*------------------------------------------icon-字型 開始-------------------------------*/
@font-face {
    font-family: 'LigatureSymbols';
    src: url('../icon_fonts/ligature_symbols/LigatureSymbols-2.11.eot');
    src: url('../icon_fonts/ligature_symbols/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
         url('../icon_fonts/ligature_symbols/LigatureSymbols-2.11.woff') format('woff'),
         url('../icon_fonts/ligature_symbols/LigatureSymbols-2.11.ttf') format('truetype'),
         url('../icon_fonts/ligature_symbols/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    src: url('../icon_fonts/ligature_symbols/LigatureSymbols-2.11.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.lsf, .lsf-icon:before {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga" 1, "dlig" 1;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga" 1, "dlig" 1;
  -o-font-feature-settings: "liga" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "dlig" 1;
}

.lsf-icon:before {
  content:attr(title);
  /*margin-right:0.3em;*/
}
/*------------------------------------------icon-字型 結束-------------------------------*/

/*--------------------------------------loading畫面 開始---------------------------------*/
.loading {
 	position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background: #FFF;
	text-align:center;
	
	/*新增by pekey 20171211*/
	padding-top:250px;
 } 
 
	
	/*Loading畫面CSS開始*/
	#circularG{
		position:relative;
		width:58px;
		height:58px;
		margin: auto;
	}
	
	.circularG{
		position:absolute;
		background-color:rgb(201,9,21);  /*此為Loding的點點顏色*/
		width:14px;
		height:14px;
		border-radius:9px;
			-o-border-radius:9px;
			-ms-border-radius:9px;
			-webkit-border-radius:9px;
			-moz-border-radius:9px;
		animation-name:bounce_circularG;
			-o-animation-name:bounce_circularG;
			-ms-animation-name:bounce_circularG;
			-webkit-animation-name:bounce_circularG;
			-moz-animation-name:bounce_circularG;
		animation-duration:1.1s;
			-o-animation-duration:1.1s;
			-ms-animation-duration:1.1s;
			-webkit-animation-duration:1.1s;
			-moz-animation-duration:1.1s;
		animation-iteration-count:infinite;
			-o-animation-iteration-count:infinite;
			-ms-animation-iteration-count:infinite;
			-webkit-animation-iteration-count:infinite;
			-moz-animation-iteration-count:infinite;
		animation-direction:normal;
			-o-animation-direction:normal;
			-ms-animation-direction:normal;
			-webkit-animation-direction:normal;
			-moz-animation-direction:normal;
	}
	
		#circularG_1{
			left:0;
			top:23px;
			animation-delay:0.41s;
				-o-animation-delay:0.41s;
				-ms-animation-delay:0.41s;
				-webkit-animation-delay:0.41s;
				-moz-animation-delay:0.41s;
		}
		
		#circularG_2{
			left:6px;
			top:6px;
			animation-delay:0.55s;
				-o-animation-delay:0.55s;
				-ms-animation-delay:0.55s;
				-webkit-animation-delay:0.55s;
				-moz-animation-delay:0.55s;
		}
		
		#circularG_3{
			top:0;
			left:23px;
			animation-delay:0.69s;
				-o-animation-delay:0.69s;
				-ms-animation-delay:0.69s;
				-webkit-animation-delay:0.69s;
				-moz-animation-delay:0.69s;
		}
		
		#circularG_4{
			right:6px;
			top:6px;
			animation-delay:0.83s;
				-o-animation-delay:0.83s;
				-ms-animation-delay:0.83s;
				-webkit-animation-delay:0.83s;
				-moz-animation-delay:0.83s;
		}
		
		#circularG_5{
			right:0;
			top:23px;
			animation-delay:0.97s;
				-o-animation-delay:0.97s;
				-ms-animation-delay:0.97s;
				-webkit-animation-delay:0.97s;
				-moz-animation-delay:0.97s;
		}
		
		#circularG_6{
			right:6px;
			bottom:6px;
			animation-delay:1.1s;
				-o-animation-delay:1.1s;
				-ms-animation-delay:1.1s;
				-webkit-animation-delay:1.1s;
				-moz-animation-delay:1.1s;
		}
		
		#circularG_7{
			left:23px;
			bottom:0;
			animation-delay:1.24s;
				-o-animation-delay:1.24s;
				-ms-animation-delay:1.24s;
				-webkit-animation-delay:1.24s;
				-moz-animation-delay:1.24s;
		}
		
		#circularG_8{
			left:6px;
			bottom:6px;
			animation-delay:1.38s;
				-o-animation-delay:1.38s;
				-ms-animation-delay:1.38s;
				-webkit-animation-delay:1.38s;
				-moz-animation-delay:1.38s;
		}
		
		
		
		@keyframes bounce_circularG{
			0%{
				transform:scale(1);
			}
		
			100%{
				transform:scale(.3);
			}
		}
		
		@-o-keyframes bounce_circularG{
			0%{
				-o-transform:scale(1);
			}
		
			100%{
				-o-transform:scale(.3);
			}
		}
		
		@-ms-keyframes bounce_circularG{
			0%{
				-ms-transform:scale(1);
			}
		
			100%{
				-ms-transform:scale(.3);
			}
		}
		
		@-webkit-keyframes bounce_circularG{
			0%{
				-webkit-transform:scale(1);
			}
		
			100%{
				-webkit-transform:scale(.3);
			}
		}
		
		@-moz-keyframes bounce_circularG{
			0%{
				-moz-transform:scale(1);
			}
		
			100%{
				-moz-transform:scale(.3);
			}
		}
	/*Loading畫面CSS結束*/

.loading_tit{
	padding:20px 0px 0px 15px;
	display:inline-block;
	font-size:16px;
	font-weight:bold;
	color:#333;
	font-family:微軟正黑體;
	text-align:center;
}
/*-------------------------------------loading畫面 結束---------------------------------*/


/*Webkit,Opera9.5+,Ie9+ 控制文字選取時的顏色*/
::selection {
	background:#d70010;
	color:#fff;
}

/*Mozilla Firefox 控制文字選取時的顏色*/
::-moz-selection {
	background:#d70010;
	color:#fff;
}

.wrap {
	width: 85%;
	margin: 0 auto;
	padding: 0;
}

@media (max-width: 900px){
	.wrap {
		width: 90%;
	}

}

@media (max-width: 767px){
	.wrap {
		width: 95%;
		/* width: auto; */
		/* padding: 0px 15px; */
	}

}

/*-------input reset--------------------------------------------------------*/
input, textarea, select {
	font-family: Arial, Helvetica, sans-serif, "Century Gothic", "Times New Roman", Times, serif, "微軟正黑體", "Microsoft JhengHei", "新細明體";
	font-size:15px;
	border-radius:3px;
	border: solid 1px #aeaeae;
}
input[type="text"], .input, input[type="password"], .input, input[type="search"] {
	margin: 0;
    padding: 0;
    outline: none;
    vertical-align: middle;
    height: 42px;
    line-height: 42px;
    width: 100%;
    transition: 0.2s ease all;
    padding: 0px 6px 0px 6px;
    box-sizing: border-box;
}
	input[type="text"]:focus, input[type="password"]:focus {
		border: solid 1px #d5d5d5;
	}
	
input[type="button"], input[type="submit"], input[type="reset"] {
	-webkit-appearance:none;
	-webkit-border-radius:0px;
	margin:0;
	padding:0;
	outline:none;
	cursor:pointer;
	vertical-align: middle;
	border:none;
	width:162px;
	height:42px;
	background:#de484d;
	color:#fff;
	border-radius:5px;
	line-height:42px;
	transition: 0.2s ease all;
	letter-spacing:1px;
}
	input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
		opacity:0.7;
	}
	
	input[type="reset"] {
		background:#555;
	}
	
input[type="radio"], input[type="checkbox"] {
	margin:0px;
	padding:0px;
	outline:none;
	vertical-align: baseline;
	cursor:pointer;
}
textarea {
	margin: 0;
    padding: 0;
    outline: none;
    vertical-align: middle;
    line-height: 24px;
    width: 100%;
    resize: none;
    height: 117px;
    transition: 0.2s ease all;
    box-sizing: border-box;
    padding: 3px;
}
	textarea:focus {
		border: solid 1px #d5d5d5;
	}
	
select {
	margin:0;
	padding:0;
	outline:none;
	vertical-align: middle;
	padding: 9px 0px 10px 7px;
	transition: 0.2s ease all;
	background:#fff;
	letter-spacing:1px;
	-webkit-appearance: none;	/* Safari 和 Chrome */
       -moz-appearance: none;	/* Firefox */
        -ms-appearance: none;	/*for Internet Explorer*/
         -o-appearance: none;	/*for Opera*/
            appearance: none;
	background: #fff url(../images/select_arrow.png) no-repeat;
	background-size: 13px;
	background-position:right;
	padding-right:18px !important;
}
	select::-ms-expand {	/*for Internet Explorer*/
		display: none;
	}
	select:focus {
		border: solid 1px #d5d5d5;
	}
	
label {
	cursor:pointer;
}
	

/*-------輪播----------------------------------------------------------------------------*/
.banner {
	background:#fff;
	position:relative;
}
	.device {
		position:relative;
		overflow:hidden;
	}
		/*左右鍵*/
		.device .arrow-left, .device .arrow-right {
			position:absolute;
			z-index:9;
			top:50%;
			margin:-18px 0px 0px 0px;
			opacity:0;
			transition:0.3s ease all;
		}
		
			/*左鍵*/
			.device .arrow-left {
				left:-20px;
			}
			
			/*右鍵*/
			.device .arrow-right {
				right:-20px;
			}
				.device:hover .arrow-left {
					opacity:1;
					left:20px;
				}
				.device:hover .arrow-right {
					opacity:1;
					right:20px;
				}
		
		/*輪播區*/
		.swiper-container {
			height:auto;
		}
			.swiper-wrapper {
			}
				.swiper-slide {
				}
					.swiper-slide img {
						width:100%;
						height:auto;
					}
		
		/*輪播點點*/
		.pagination {
		  position: absolute;
		  z-index: 1;
		  bottom: -39px;
		  width: 100%;
		  text-align: center;
		}
			.swiper-pagination-switch {
			  display: inline-block;
			  width: 20px;
			  height: 20px;
			  border-radius: 5px;
			  background: #edbdb4;
			  margin: 0 7px;
			  cursor: pointer;
			}
			.swiper-active-switch {/*輪播點點當前模式*/
			  background: #c42605;
			}
				/*客制區塊*/
				.swiper-slide {
					position:relative;
				}
				.pcBanner2 {
				}
				.mobileBanner {
					display:none;
				}
				
					
@media (max-width: 900px){
	.device {
		height:auto;
	}
		/*左右鍵*/
		.device .arrow-left, .device .arrow-right {
			display:none;
		}
}

@media (max-width: 640px){
	.pcBanner{
		display: none;
	}
		.mobileBanner {
			display: block;
		}
}
				
				
				
/*-------頁次--RWD版 by kevin 20150921------------------------------------------------------------------------*/			
.page_area_rwd {
	text-align:center;
	padding:25px 0px 0px 0px;
}
	.page_left_arrow, .page_right_arrow {
		width:83px;
		font-size:15px;
		font-weight:bold;
		text-align:center;
		display: inline-block;
		vertical-align: top;
	}
		.page_left_arrow a, .page_right_arrow a {
			text-decoration:none;
			display:block;
			transition:0.2s ease all;
			color:#fff;
			line-height:40px;
			background:#de484d;
			border-radius:2px;
		}
			.page_left_arrow a:hover, .page_right_arrow a:hover {
				background:#f39800;
			}
	.page_select {
		display:inline-block;
		padding:0px 7px;
		vertical-align: top;
	}
		.page_select select {
			width: auto !important;
			font-size:15px !important;
			padding:8px 18px 7px 16px !important;
			border: solid 1px #a4a4a4 !important;
			height:40px !important;
			box-sizing:border-box;
			border-radius:3px;
		}

/*-------頁次--置中版--修改 by kevin 20150328------------------------------------------------------------------------*/			
.page_area {
	margin: 0px 0px 0px 0px;
}
	.page_area table {
		margin: 0 auto;/*置中*/
		/*margin: 0px 0px 0px auto;*//*靠右*/
	}
	.page_area table td {
		vertical-align:top;
	}
	.page_bot {
		float:left;
		padding-top: 3px;
		margin-right:5px;
	}
	.page_pages {
		float: left;
		font-size: 12px;
		text-align: center;
		color: #000;
		line-height: 17px;
		margin-top: -5px;
		width: 55px;
	}
	.page_text {
		float: left;
		margin: 0;
		padding: 0;
		border: solid 1px #b5b5b5 !important;
		background: #fff !important;
		width: 54px !important;
		height: 19px !important;
		line-height:17px !important;
		margin-left: 8px !important;
		margin-right: 5px !important;
	}
	
	.page_area a {
		transition:0.2s ease all;
	}
	
	.page_area a:hover {
		opacity:0.7;
		filter:alpha(opacity=70); /* 针对 IE8 以及更早的版本 */
	}

/*-------頁籤------------------------------------------------------------------------*/
.tab_area {
	border-bottom: solid 1px #c4c4c4;
}
	.tabs_btn_now {
		transition:0.3s ease all;
		font-size:16px;
		line-height:39px;
		padding:0px 36px 0px 36px;
		text-align:center;
		display:none;
		position:relative;
		background:#fff;
		border-bottom: solid 1px #e3e3e3;
		font-weight:bold;
	}
		.tabs_btn_now:hover {
			background:#fff;
		}
		.tabs_btn_now_arrow {
			position: absolute;
			border-top: solid 5px #333;
			top: 17px;
			right: 20px;
			border-left: solid 5px rgba(255, 255, 255, 0);
			border-right: solid 5px rgba(255, 255, 255, 0);
		}
		
	.img-scroll { 
		height:39px; 
		position:relative;
	}
		.img-list { 
			position:relative; 
		}
			ul.tabs {
				margin:0; 
				padding:0; 
				list-style:none;
			}
				.tabs li { 
					line-height:39px;
					float:left;
					position: relative;
					font-size:14px;
					width: auto;
					color:#808080;
					border-right: solid 1px #c4c4c4;
				}
					.tabs span { 
						text-decoration:none;
						display:block;
						padding:0px 18px;
						transition:0.3s ease all;
						background:#fff;
						text-align:center;
						cursor:pointer;
					}
						.tabs li span:hover {
							color:#333;
							box-shadow: 0 0 #3d3d3d inset;
						}
						
					.tabs li.active {
						/*當前模式*/
						color:#333;
					}
						.tabs li.active span {
							box-shadow: 0 -2px #3d3d3d inset;
						}
						.tabs li.active:after {
							position:absolute;
							bottom:-6px;
							left:50%;
							margin:0px 0px 0px -10px;
						}
		
		#tab1{}
		.tab_content{}

/*產品內頁頁籤的網編區*/
.p_tab_text_area {
	background:#fff;
	padding:10px;
}
					@media (max-width: 760px){
						/*頁籤*/
						.tab_area {
							position:relative;
						}
							.tabs_btn_now {
								display:block;
							}
							
							.img-scroll {
								display:none;
								height:auto;
								/*position: absolute;*/
								width: 100%;
								z-index: 999;
							}
								.tabs li, .img-scroll1 .tabs li, .img-scroll2 .tabs li, .img-scroll3 .tabs li, .img-scroll4 .tabs li, .img-scroll5 .tabs li {
									float:none;
									text-align:center;
									width:100%;
									font-size:15px;
									border-radius:0px;
									border: none;
									border-bottom: solid 1px #f3f3f3;
								}
									.tabs li.active:after {
										content:"";
									}
					}

			









/*-------浮動top鍵----------------------------------------------------------------------------*/
.topBtn {
		position:fixed;
		bottom:-70px;
		right:14px;
		z-index:99;
		/*z-index:3;*/
	}
		.topBtn a {
			display:block;
			text-align:center;
			box-sizing:border-box;
			width:33px;
			height:33px;
			border: solid 2px #4c4944;
			position:relative;
			text-decoration:none;
			transition:0.3s ease all;
			border-radius:100%;
			background:#fff;
			padding: 13px 0px 0px;
			color:#4c4944;
		}
			.topBtn a:before {
				position:absolute;
				content:'';
				border-bottom: solid 8px #4c4944;
				border-left: solid 4px rgba(0,0,0,0);
				border-right: solid 4px rgba(0,0,0,0);
				top: 4px;
				left: 10px;
			}
			.topBtn a span {
				font-size:12px;
				transform:scale(0.8);
				display:block;
			}
				/*hover*/
				.topBtn a:hover {
					border-color:#fff;
					box-shadow:0px 0px 10px rgba(0,0,0,0.2);
					color:#0048dc;
				}
					.topBtn a:hover:before {
						border-bottom: solid 8px #0048dc;
					}
/*-------驗證碼----------------------------------------------------------------------------*/
.captcha {
	line-height: 37px;
    padding: 0px 0px 5px 0px !important;
}
	.captcha input[type="text"] {
		width:80px;
		margin-right:5px;
	}
	.captcha a {
		transition: 0.5s ease all;
		color: #fff;
		background: #333;
		border-radius: 5px;
		padding: 0px 11px;
		font-size: 14px;
		display: inline-block;
		margin: 9px 0px 7px;
		line-height: 29px;
		text-decoration:none;
	}
		.captcha a:hover {
		}
	.captcha img {
		vertical-align:middle;
	}
	.captcha span {
		color:#c30000;
	}

/*-------表單區----------------------------------------------------------------------------*/
/*表單區底*/
.form_area_bg {
	width: 100%;
    max-width: 800px; 
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0px 20px;
}
	@media (max-width: 900px){
		.form_area_bg {
			padding:0px;
		}
	}
	
	/*表單區備註*/
	.form_remark {
		text-align:center;
		font-size:15px;
		line-height:22px;
		padding:10px 0px 5px 0px;
	}
		/*必填icon*/
		.requirde_icon {
			display:inline-block;
			border-radius:3px;
			font-size:12px;
			color:#fff;
			background:#c13e42;
			line-height:18px;
			padding:0px 5px;
		}

	/*表單區*/
	.form_area {
	}
		/*表單區左*/
		.form_left {
			width:48%;
			float:left;
		}
		/*表單區右*/
		.form_right {
			width:48%;
			float:right;
		}
			.form_list {
				font-size:15px;
				line-height:21px;
				border-bottom: dotted 1px #0f0f0f;
				padding:12px 0px 0px 0px;
			}
				.fL_tit {
					font-weight:bold;
					padding:3px 0px 6px 0px;
					position:relative;
				}
					/*必填icon*/
					.fL_tit .requirde_icon {
						position:absolute;
						right:0px;
					}
					
				.fL_info {
					padding:0px 0px 8px 0px;
				}
					/*沒有輸入框時*/
					.fL_info.no_input {
						padding: 10px 0px 25px 0px;
    					line-height: 24px;
					}
					
					.fL_info label {
						display:inline-block;
					}
					
					/*地址樣式*/
					.fL_info.address select {
						margin:0px 5px 0px 0px;
					}
					.fL_info.address input[type='text']:nth-of-type(1) {
						width:97px;
					}
					.fL_info.address input[type='text']:last-of-type {
						margin:12px 0px 0px 0px;
					}
					
					/*生日樣式*/
					.fL_info.birthday {
					}
						.fL_info.birthday select {
							margin:0px 0px 0px 0px;
						}
						@media (max-width: 900px){
							/*表單區左*//*表單區右*/
							.form_left, .form_right {
								float:none;
								width:auto;
							}
								/*沒有輸入框時*/
								.fL_info.no_input {
									padding: 0px 0px 5px 0px;
								}
								.fL_info label {
									padding: 6px 0px;
								}
						}
							@media (max-width: 575px){
								.cart_big_tit span.red {
									padding:0px;
								}
							}
								@media (max-width: 500px){
									.cBT_checkbox {
										display: block;
										padding: 5px 0px 0px 0px;
									}
									.receiving_record {
										padding:0px;
									}
								}
									@media (max-width: 320px){
										/*生日樣式*/
										.fL_info.birthday {
											letter-spacing: 0px;
											white-space: nowrap;
											font-size: 12px;
										}
									}
								
			.form_list_remark {
				font-size: 15px;
				line-height: 21px;
				color: #c13e42;
				padding: 12px 0px 0px 0px;
			}

/*-------hack----------------------------------------------------------------------------*/
.hack {
	padding:20px;
}
	.hack_demo {
		float:left;
		width:50%;
		line-height:200px;
		text-align:center;
		box-sizing:border-box;
		border: solid 1px #CCC;
	}
	
/* IE10、11、edge模式 */
@media all and (-ms-high-contrast:none) {
	.ie10Up {
		color: #fff;
		background:#06F;
	}
	*::-ms-backdrop, .ie10Up {
		color: #fff;
		background:#06F;
	}
}

/*firefox*/
@-moz-document url-prefix() { 
	.firefox {
		color: #fff;
		background: #C00;
	}
}

/*Safari和chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.safariAndChrome {
		color: #fff;
		background: #333;
	}
}


/*/////////////////////////////////////////////////////////*/
/*-------版頭--------*/
/*/////////////////////////////////////////////////////////*/

.header {
}





/*/////////////////////////////////////////////////////////*/
/*-------首頁內容--------*/
/*/////////////////////////////////////////////////////////*/

.main{
	padding-top: 64px;
}

/*首頁內容區塊*/	
.mainContent{
	/* padding: 25px 0px; */
	/* padding: 10px 0px 0px; */
}

	
@media (max-width: 900px){
	
	.main {
		padding-top: 58px;
	}	
}

/*/////////////////////////////////////////////////////////*/
/*-------共用區塊--------*/
/*/////////////////////////////////////////////////////////*/

.main.page{
	padding-top: 90px;
}
	
	/*內頁banner*/
	.inbanner{
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 200px;
	}
	
	
	/*上方區塊*/
	.pageContent_topArea{
		padding: 10px 0px;
		border-bottom: 1px solid #e3e3e3;
	}
		
		/*麵包屑*/
		.crumb_bg{
			color: #777777;
			font-size: 14px;
			float: left;
			/*padding: 13px 0px 0px;*/
		}
			.crumb_area{
				
			}
				.crumb_area i{
					display: inline-block;
					vertical-align: middle;
					font-size: 18px;
				}
				.crumb_area i:nth-of-type(1){
					color: #e71f19;
				}
				.crumb_area a{
					text-decoration: none;
					display: inline-block;
					vertical-align: middle;
					color: #e71f19;
					font-size: 14px;
					line-height: 22px;
					transition: 0.3s ease all;
				}
				/*hover*/
				.crumb_area a:hover{
					color: #252525;
					transition: 0.3s ease all;
				}
				
				.crumb_area span{
					display: inline-block;
					vertical-align: middle;
					font-size: 14px;
					margin-right: -1px;
					line-height: 22px;
				}	
	
	
	
/*內頁內容區塊*/
.pageContent{
	padding: 50px 0px;
	position: relative;
}
	
	
	
@media (max-width: 900px){
	
	.main.page {
		padding-top: 58px;
	}	
	
		/*內頁內容區塊*/
		.pageContent{
			padding: 25px 0px;
		}
		
}

	

/*左側*/
.left{
	/*float: left;*/
	width: 225px;
	position: absolute;
	z-index: 2;
}
			
	/*左側標題*/
	.left_title{
		font-size: 20px;
		letter-spacing: -1px;
		background-color: #aeaeae;
		color: #fff;
    	padding: 13px 10px 10px;		
	}
		.left_title span{
			font-size: 15px; 
			color: #fff;
			padding-top: 10px;
			letter-spacing: 1px;
			display: block;
			font-weight: normal;
		}
	
	/*左側選單列表*/
	.leftListArea{
		/*background-color: #fcfcfc;*/
	}
		.leftList{
			font-size:18px;
		}
			.leftList > a{
				display:block;
				/*padding: 13px 45px 13px 35px;*/
				padding: 13px 45px 11px 10px;
				text-decoration:none;
				color:#000;
				position: relative;
				font-size: 15px;
				line-height: 22px;
				word-break: break-word;
				
				border-bottom: 1px dashed #cecece;
			}
				
			.leftList.active > a{
				background-color: #ececec;
			}
			.leftList:hover > a{
				background-color:#ececec;
			}
				
				/*代表性標誌*/
				/*.leftList_icon.first{
					position: absolute;
					left: 10px;
					top: 16px;
				}*/
					.leftList_icon i{
						font-size: 19px;
						line-height: 14px;
						color: #777;
					}
				
				/*功能名稱*/	
				.leftList_title{
					display: inline-block;
					vertical-align: bottom;
				}
				
				/*方向標誌*/
				.leftList_icon.direction{
					position: absolute;
					right: 10px;
					top: 16px;
				}
					/*方向標誌_向下展開*/
					.leftList_icon.direction i.down{
						display: block;
					}
					/*方向標誌_向上收合*/
					.leftList_icon.direction i.up{
						display: none;
					}
					
					
				/*active*/ /*方向標誌_向下展開*/
				.leftList.active .leftList_icon.direction i.down{
					display: none;
				}
				/*active*/ /*方向標誌_向上收合*/
				.leftList.active .leftList_icon.direction i.up{
					display: block;
				}
				
				
				
			
			/*左側選單列表第二層*/
			.leftList_open{
				display: none;
			}
			.leftList_open.active{
				display:block;
			}
				.leftList_open_list{
				}
					.leftList_open_list a {
						display: block;
						transition: 0.3s ease all;
						color: #999;
						/*padding: 13px 35px;*/
						padding: 13px 10px 11px 25px;
						font-size: 15px;
						line-height: 22px;
						font-weight:normal;
						word-break: break-word;
						border-bottom: 1px dashed #cecece;
					}
					.leftList_open_list.active a {
						color: #e71f19;
					}
					.leftList_open_list a:hover {
						color: #e71f19;
						text-decoration:none;
					}

/*右側*/
.right{
	/*float: right;*/
	box-sizing:border-box;
	/*width: 75%;*/
	position: relative;
	width: 100%;
	padding-left: 300px;
	height: 450px;
}


/*無左側選單*/
.right.no_left{
	float: none;
	width: 100%;
}

	.right_title{
		font-size: 20px;
		font-weight: bold;
		color: #777;
		line-height: 28px;
		position:relative;
		border-bottom: 2px solid #777;
		padding-bottom: 20px;
	}
		.right_title:after{	
			position: absolute;
			content: '';
			bottom: -1px;
			background: #777;
			width: 62px;
			height: 6px;
			left: 0px;
		}
	
	
	/*右側內容區塊*/
	.right_contentBg{	
		/*padding-top: 25px;*/
		padding-top: 20px;
	}
	
	
		/*網編區塊*/
		.text_area{
			font-size: 14px;
			color: #000;
			/*line-height:22px;*/
			line-height:26px;
		}
			.text_area img{
				max-width: 100%;
				height: auto;
			}		




@media (max-width: 767px){

	/*左側*/
	.left{
		width:100%;
		margin-bottom: 10px;
		position: static;
	}
	
		/*左側表單名稱*/
		.left_title {
			position: relative;
			cursor: pointer;
			background-color: #fff;
			padding: 6px 50px 13px 15px;
			font-size: 17px;
			letter-spacing: 1px;
			color: #000;
			border: 1px solid #777;
		}
			.left_title span{
				display:inline-block;
				font-size: 13px;	
				color: #000;
			}
			
			.left_title:after {
				content: '';
				position: absolute;
				border-left: solid 6px rgba(255,255,255,0);
				border-right: solid 6px rgba(255,255,255,0);
				border-bottom: solid 6px rgba(255,255,255,0);
				border-top: solid 10px #777;
				top: 19px;
				right: 15px;
			}
			
		
		/*左側表單*/
		.leftListArea{
			display:none;
			background: #fcfcfc;
			border: 1px #dbdbdb solid;
		}
		
			.leftList > a{
				padding: 13px 45px 11px 15px;
			}
				
				/*方向標誌*/
				.leftList_icon.direction{
					right: 11px;
				}
				
				.leftList_open_list a{
					padding: 13px 45px 11px 30px;
				}
	
	/*右側*/
	.right{
		width:100%;
		position: static;
		padding: 35px 0px;
	}
	
	
}


/* -----重新設計區塊----- */
.demo{
	display: flex;
	min-height: 700px;
}
	/* 登入區塊 */
	.demo_left{
		width: 40%;
		background-image: url(../images/index_bgi.svg);
		background-size: cover;
		background-color: #3AADA1;
		/* border: 1px #000 solid; */

		display: flex;
		align-items: center;
		justify-content: center;
	}
	.left_wrap{
		width: 55%;
		min-width: 320px;
		padding: 0px 0px 45px;
		margin: auto;
	}
		/* 形象圖 */
		.left_img{
			margin-bottom: 20px;
		}
		.left_img img{
			width: 100%;
			height: auto;
		}
		/* 標題 */
		.left_tit{

		}
		.left_tit p{
			color: #fff;
			font-size: 28px;
			font-weight: bold;
			line-height: normal;
			letter-spacing: 8px;
		}
		/* 文字敘述 */
		.left_text{
			margin: 12px 0px 36px;
		}
		.left_text p{
			color: #fff;
			font-size: 16px;
			line-height: normal;
			letter-spacing: 1px;
		}
		/* 按鈕 */
		.left_btn{
			width: 160px;
			height: 48px;
			border-radius: 50px;
			position: relative;
			overflow: hidden;
		}
		.left_btn input{
			width: 100%;
			height: 100%;
			font-weight: bold;
			background: unset;
			border: 2px #fff solid;
			letter-spacing: 2px;
			border-radius: 50px;
		}
		.demo_lonin{
			
		}
			/* hover */
			.left_btn input:hover{
				background: #fff;
				color: #3AADA1;
				transition: 0.3s ease all;
				opacity: unset;
			}

	/* 註冊區塊 */
	.demo_right{
		width: 60%;
		/* border: 1px #000 solid; */
	}
		.right_wrap{
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.right_content{
			width: 60%;
			min-width: 420px;
			/* border: 1px #000 solid; */
		}

			/* 標題 */
			.right_tit{
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			.right_tit h2{
				margin: 0;
				color: #0D6CBE;
				font-size: 24px;
				font-weight: bold;
				letter-spacing: 6px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
				.right_tit h2::before,.right_tit h2::after{
					content: "";
					display: block;
					width: 60px;
					height: 1px;
					background-color: #333;
				}
				.right_tit h2::before{
					margin-right: 20px;
				}
				.right_tit h2::after{
					margin-left: 20px;
				}

			.right_tit span{
				margin-top: 4px;
				color: #C0C0C0;
				font-size: 14px;
				font-weight: bold;
				letter-spacing: 1px;
			}

			/* 表單區 */
			.form_area.index{
				margin-top: 40px;
				display: flex;
				flex-wrap: wrap;
			}
				.form_area.index .form_list{
					width: 100%;
					min-height: 72px;
					border-bottom: unset;
				}
				.form_area.index .form_list.fLType2{
					
				}
				.form_area.index .form_list span{
					font-size: 12px;
					font-weight: 500;
				}
					.form_area.index .fL_info{
						width: 100%;
						padding: 0px 0px 4px 0px;
						position: relative;
					}
					.form_area.index .fL_info:before{
						content: "";
						display: block;
						width: 24px;
						height: 24px;
						/* background-image: url(../images/shop.svg); */
						background-size: cover;
						position: absolute;
						left: 5px;
						top: 50%;
						transform: translateY(-50%);
					}
						.form_area.index .fL_info.account:before{
							background-image: url(../images/account.svg);
						}
						.form_area.index .fL_info.password:before{
							background-image: url(../images/password.svg);
						}
						.form_area.index .fL_info.name:before{
							background-image: url(../images/name.svg);
						}

					.form_area.index .fL_info input{
						background: #F5F5F5;
						font-size: 14px;
						letter-spacing: 2px;
						line-height: normal;
						border: 1px #C0C0C0 solid;
						padding: 0px 6px 0px 44px;
					}
						/* hover */
						.form_area.index .fL_info input:hover{
							border: 1px #0D6CBE solid;
						}

			/* 同意按鈕 */
			.notice_area{

			}
			.agree_area{

			}
				.agree_area label{
					font-size: 14px;
					line-height: normal;
				}
				.agree_area label > input{
					
				}
				.agree_area label > a{
					color: #333;
				}
			
			.notice_btn{
				width: 100%;
				text-align: center;
				margin-top: 20px;
			}
				.notice_btn input{
					border-radius: 50px;
					width: 200px;
    				height: 48px;
					background: #0D6CBE;
				}
					/* hover */
					.notice_btn input:hover{
						opacity: 1;
						background: #4B9DE4;
					}


				.notice_btn input.disabled_color{
					background: #c5c5c5;
					color: #e4e4e4;
					border: 1px solid #c5c5c5;
					cursor: default;
				}
			/* 分隔線 */
			.deco_line{
				display: flex;
				align-items: center;
				max-width: 100%;
				margin: 32px 0;
			}
			.deco{
				background-color: #C0C0C0;
				width: 100%;
				height: 1px;
			}
			.deco_txt{
				font-size: 12px;
				min-width: 120px;
				color: #c0c0c0;
				padding: 0px 10px;
				text-align: center;
			}

			/* 其他社群連結 */
			.social_btn{
				display: flex;
				margin: 0px -4px;
			}

				/* google登入 */
				.google_login{
					width: 50%;
					min-width: 200px;
					margin: 0px 4px;
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: #FD9841;
					width: 100%;
					color: #fff;
					padding: 12px;
					border-radius: 5px;
					box-sizing: border-box;
					cursor: pointer;
					transition: 0.3s ease all;
				}
				/* hover */
				.google_login:hover{
					background-color: #F28121;
				}
					.google_login > img{
						width: 24px;
						height: 24px;
					}
					.google_login > span{
						margin-left: 8px;
						font-size: 14px;
						font-weight: bold;
						line-height: normal;
					}

				/* 臉書登入 */
				.facebook_login{
					width: 50%;
					min-width: 200px;
					margin: 0px 4px;
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: #0D6CBE;
					width: 100%;
					color: #fff;
					padding: 12px;
					border-radius: 5px;
					box-sizing: border-box;
					cursor: pointer;
					transition: 0.3s ease all;
				}
				/* hover */
				.facebook_login:hover{
					background-color: #065DA7;
				}
					.facebook_login > img{
						width: 24px;
						height: 24px;
					}
					.facebook_login > span{
						margin-left: 8px;
						font-size: 14px;
						font-weight: bold;
						line-height: normal;
					}

	@media (max-width: 1024px){
		.left_wrap {
			width: 85%;
			min-width: unset;
		}
		.right_content {
			width: 85%;
			min-width: unset;
		}
	}
	@media (max-width: 990px){
		.demo_left{
			width: 30%;
			min-width: 240px;
		}
		.demo_right{
			width: 70%;
		}
		.left_tit p{
			font-size: 24px;
			letter-spacing: 4px;
		}
		.left_text p{
			font-size: 14px;
			letter-spacing: 1px;
		}
		.left_btn{
			width: 140px;
			height: 44px;
		}
		.agree_area label {
			font-size: 14px;
		}
		.google_login {
			min-width: unset;
			padding: 12px 6px;
		}
		.facebook_login {
			min-width: unset;
			padding: 12px 6px;
		}
		.google_login > span {
			margin-left: 4px;
			font-size: 13px;
		}
		.facebook_login > span {
			margin-left: 4px;
			font-size: 13px;
		}
	}
	@media (max-width: 640px){
		.demo_left{
			width: 100%;
			min-width: unset;
			padding: 56px 0;
		}
		.left_wrap {
			width: 80%;
		}
		.left_tit p{
			font-size: 28px;
			letter-spacing: 8px;
		}
		.left_text p{
			font-size: 16px;
			letter-spacing: 1px;
		}
		.left_btn{
			width: 160px;
			height: 48px;
		}
		.demo_right{
			width: 100%;
			padding: 56px 0;
		}
		.right_content {
			width: 80%;
		}
		.demo {
			flex-direction: column;
			min-height: unset;
		}
	}
	@media (max-width: 425px){
		.demo_left {
			padding: 32px 0;
		}
		.left_wrap {
			width: 85%;
		}
		.right_content {
			width: 90%;
		}
		.left_tit p{
			font-size: 24px;
			letter-spacing: 4px;
			text-align: center;
		}
		.left_text p{
			font-size: 14px;
			letter-spacing: 1px;
			text-align: center;
		}
		.left_btn{
			width: 140px;
			height: 44px;
			margin: auto;
		}
	}

/*平板版*/
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
@media (min-width: 541px) and  (max-width: 950px){
}


/*手機版*/
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
@media (max-width: 540px){
}