/*modify by pekey 20190604*/
@charset "utf-8";
/* CSS Document */

/*------------------------------------------CSS Setting Start-------------------------------*/

/*================*/
/*-- 浮動top鍵 --*/
/*================*/
.topBtn_area{
	position:fixed;
	right:14px;
	bottom:0px;
	z-index: 10;
	transform: scale(0.84);
	transition:0.3s ease all;
}
	
	.topBtn {
		position:fixed;
		bottom:-70px;
		right:24px;
		z-index:99;
		/*z-index:3;*/
	}
		.topBtn a {
			display:block;
			text-align:center;
			box-sizing:border-box;
			width: 50px;
			height: 50px;
			border: unset;
			position:relative;
			text-decoration:none;
			transition:0.3s ease all;
			border-radius:100%;
			background:unset;
			padding: 25px 0px 0px;
			color:#4c4944;
		}
			.topBtn a:before {
				position:absolute;
				top: 8px;
				left: 12px;
				content:'';
				background-image: url(../images/top.svg);
				background-size: cover;
				width: 23px;
				height: 12px;
				border-bottom: unset;
				border-left: unset;
				border-right: unset;
			}
			.topBtn a span {
				/* font-size:0.75em; */
				font-size: 18px;
				font-weight: bold;
				letter-spacing: 2px;
				color: #c0c0c0;
				display:block;
			}
				/*hover*/
				.topBtn a:hover {
					border-color:unset;
					box-shadow:unset;
					color: unset;
				}
					.topBtn a:hover:before {
						border-bottom:unset;
					}
				
			/*hover*/
			.topBtn:hover .tab_description{
				display: block;
				transition: 0.3s ease all;
			}	
					
	.coachBtn {
		position:fixed;
		bottom:-70px;
		right:14px;
		z-index:99;
		width: 70px;
		height: 70px;
	}
		.coachBtn a img{
			width: 100%;
			height: auto;
		}	
	.e_customerBtn {
		position:fixed;
		bottom:-70px;
		right:14px;
		z-index:99;
		width: 70px;
		height: 70px;
	}	
		.e_customerBtn a img{
			width: 100%;
			height: auto;
		}	
		
	@media (max-width: 640px){
		.coachBtn, .e_customerBtn{
			width: 60px;
			height: 60px;
		}
		.topBtn {
			right:16px;
		}
	}

/*/////////////////////////////////////////////////////////*/
/*-------版腳--------*/
/*/////////////////////////////////////////////////////////*/

.footer {
	padding: 24px 0px;
	background-color: #0D6CBE;
	color: #fff;
}

.footer_content{

}
.footer_content > .wrap {
	display: flex;
	justify-content: space-between;
}
/* 左側 */
.footer_leftArea{
	/* float: left; */
	display: flex;
	flex-direction: column;
	/* width: 480px; */
	width: 40%;
	/* min-width: calc(100% - 540px); */
}
	/* logo */
	.footer_logo{
		width: 160px;
		/* margin: 0px auto; */
		transition: 0.3s ease all;
	}
		.footer_logo a{
			display: block;
		}
			.footer_logo a img{
				width: 100%;
				height: auto;
			}

	/* 服務區塊 */
	.footer_service{
		display: flex;
		flex-direction: row;
		margin: 0px -8px;
		margin-top: 32px;
	}
		/* 客服 */
		.footer_customer{
			margin: 0px 8px;
		}
			.footer_customer .number{
				margin-bottom: 4px;
			}
				.footer_customer .number a{
					color: #eaeaea;
					font-size: 14px;
					text-decoration: none;
					transition: 0.3s ease all;
				}
				/* hover */
				.footer_customer .number a:hover{
					opacity: 0.6;
					transition: 0.3s ease all;
				}
			.footer_customer .customer{
				display: flex;
				flex-wrap: wrap;
				margin: 0px -4px;
			}
			.footer_customer .customer > a{
				display: block;
				width: 20px;
				height: 20px;
				margin: 0px 4px;
				transition: 0.3s ease all;
			}
				/* hover */
				.footer_customer .customer > a:hover{
					opacity: 0.6;
					transition: 0.3s ease all;
				}
			.footer_customer .customer > a img{
				width: 100%;
				height: auto;
			}

		/* 時間 */
		.footer_time{
			margin: 0px 8px;
		}
			.footer_time .time{
				display: flex;
				flex-direction: column;
			}
			.footer_time .time span{
				font-size: 12px;
				color: #eaeaea;
				margin-bottom: 8px;
			}
			/* 標題 */
			.footer_customer .tit,.footer_time .tit{
				font-size: 16px;
				font-weight: bold;
				color: #fff;
				margin-bottom: 12px;
				letter-spacing: 2px;
			}

/* 右側 */
.footer_rightArea{
    /* width: calc(100% - 540px); */
	width: 60%;
	min-width: 540px;
}		
	/* 版腳主按鍵 */
	.footer_navbar{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
		.footer_nav{
			display: flex;
			flex-direction: column;
		}
		.footer_nav > a{
			display: block;
			color: #fff;
			font-size: 14px;
			font-weight: bold;
			padding: 8px 20px;
			border: 2px #fff solid;
			line-height: normal;
			border-radius: 50px;
			text-decoration: none;
			transition: 0.3s ease all;
		}
		.footer_nav > a:first-of-type{
			margin-bottom: 16px;
		}
		.footer_nav > a:hover{
			color: #0D6CBE;
			background-color: #fff;
			transition: 0.3s ease all;
		}

	/* 版腳說明 */
	.footer_explain{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-top: 24px;
	}
		/*購買標語*/
		.browser_bg{
			color: #fff;
			text-align: center;
			font-size: 12px;
			line-height: 16px;
		}

			.browser_bg a{
				color: #fff;
				font-size: 12px;
				line-height: 16px;
				text-decoration: underline;
			}

		/*版權宣告*/
		.copyright{
			color: #fff;
			text-align: center;
			font-size: 12px;
			line-height: 16px;
		}
			.copyright a{
				color: #fff;
				font-size: 12px;
				line-height: 16px;
			}


		.browser_bg > .wrap,.copyright > .wrap{
			width: unset;
		}
		.browser_bg > .wrap, .copyright > .wrap{
			text-align: left;
		}
			
.footer_support{
	background-color: #065DA7;
	padding: 10px 0;
	text-align: center;
}
.footer_support .support{
	font-size: 13px;
	letter-spacing: 2px;
	color: #fff;
}
	.footer_support .support > a{
		text-decoration: none;
	}
	.footer_support .support > a img{
		width: 14px;
		height: 14px;
	}
	.footer_support .support > a span{
		font-size: 13px;
		font-weight: normal;
		color: #fff;
	}

@media (max-width: 1024px){

	.footer {
		padding: 20px 0px;
	}	
	.footer_content > .wrap {
		justify-content: unset;
		flex-direction: column;
	}
	.footer_leftArea {
		width: 100%;
	}
	.footer_rightArea {
		width: 100%;
		max-width: 560px;
		min-width: unset;
		margin-top: 20px;
	}
}


@media (max-width: 640px){
	
	/* .footer_navbar{
		float: none;
	} */
	.footer_navbar {
		flex-direction: column;
		justify-content: unset;
	}
	.footer_nav {
		flex-direction: row;
		margin-bottom: 12px;
	}
	.footer_nav > a:first-of-type {
		margin-bottom: unset;
		margin-right: 12px;
	}
}

@media (max-width: 425px){
	.footer_service {
		flex-direction: column;
	}
	.footer_time {
		margin-top: 20px;
	}
}













